			body {
				background-color: #D3D3D3;
				background-image: url("images/slytherin.png");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center center;
			}
			p {
				color:green;
				font: 15px arial;
			}
